@model StringField

<div class="form-group">
  @Html.LabelFor(m => m.Value, Model.Label)
  @Html.TextBoxFor(m => m.Value, new { @class = "form-control", placeholder = Model.Placeholder })
  @Html.ValidationMessageFor(m => m.Value)
  <p class="help-block">@Model.Subtext</p>
  @Html.RenderMetadata(Model)
</div>